# Pymaceuticals Inc.
---

### Analysis

- Add your analysis here.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)



# Combine the data into a single DataFrame


# Display the data table for preview

In [2]:
mouse_metadata.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [3]:
study_results.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [4]:
# Combine the data into a single DataFrame 
# use left join to ensure all meta data has study results

mouse_merge_df = pd.merge(mouse_metadata, study_results, on="Mouse ID", how="left")
mouse_merge_outer_df = pd.merge(mouse_metadata, study_results, on="Mouse ID", how="outer")

# Display the data table for preview

print("left join mouse results:\n", mouse_merge_df)
print("outer join mouse results:\n", mouse_merge_outer_df)

left join mouse results:
      Mouse ID Drug Regimen   Sex  Age_months  Weight (g)  Timepoint  \
0        k403     Ramicane  Male          21          16          0
1        k403     Ramicane  Male          21          16          5
2        k403     Ramicane  Male          21          16         10
3        k403     Ramicane  Male          21          16         15
4        k403     Ramicane  Male          21          16         20
...       ...          ...   ...         ...         ...        ...
1888     z969     Naftisol  Male           9          30         25
1889     z969     Naftisol  Male           9          30         30
1890     z969     Naftisol  Male           9          30         35
1891     z969     Naftisol  Male           9          30         40
1892     z969     Naftisol  Male           9          30         45

      Tumor Volume (mm3)  Metastatic Sites
0              45.000000                 0
1              38.825898                 0
2              35.014271                 1
3              34.223992                 1
4              32.997729                 1
...                  ...               ...
1888           63.145652                 2
1889           65.841013                 3
1890           69.176246                 4
1891           70.314904                 4
1892           73.867845                 4

[1893 rows x 8 columns]
outer join mouse results:
      Mouse ID Drug Regimen     Sex  Age_months  Weight (g)  Timepoint  \
0        a203    Infubinol  Female          20          23          0
1        a203    Infubinol  Female          20          23          5
2        a203    Infubinol  Female          20          23         10
3        a203    Infubinol  Female          20          23         15
4        a203    Infubinol  Female          20          23         20
...       ...          ...     ...         ...         ...        ...
1888     z969     Naftisol    Male           9          30         25
1889     z969     Naftisol    Male           9          30         30
1890     z969     Naftisol    Male           9          30         35
1891     z969     Naftisol    Male           9          30         40
1892     z969     Naftisol    Male           9          30         45

      Tumor Volume (mm3)  Metastatic Sites
0              45.000000                 0
1              48.508468                 0
2              51.852437                 1
3              52.777870                 1
4              55.173336                 1
...                  ...               ...
1888           63.145652                 2
1889           65.841013                 3
1890           69.176246                 4
1891           70.314904                 4
1892           73.867845                 4

[1893 rows x 8 columns]

In [ ]:
# there are no study results without metadata.

In [5]:
# Checking the number of mice.  This is ambiguous.

mice_count = merged

In [6]:
# Our data should be uniquely identified by Mouse ID and Timepoint
# Get the duplicate mice by ID number that shows up for Mouse ID and Timepoint.

In [7]:
# Optional: Get all the data for the duplicate mouse ID.

In [8]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [9]:
# Checking the number of mice in the clean DataFrame.

## Summary Statistics

In [10]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary DataFrame.

In [11]:
# A more advanced method to generate a summary statistics table of mean, median, variance, standard deviation,
# and SEM of the tumor volume for each regimen (only one method is required in the solution)

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [12]:
# Generate a bar plot showing the total number of rows (Mouse ID/Timepoints) for each drug regimen using Pandas.

In [13]:
# Generate a bar plot showing the total number of rows (Mouse ID/Timepoints) for each drug regimen using pyplot.

In [14]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [15]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [16]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original DataFrame to get the tumor volume at the last timepoint

In [17]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes

    
    # add subset 

    
    # Determine outliers using upper and lower bounds

In [18]:
# Generate a box plot that shows the distrubution of the tumor volume for each treatment group.

## Line and Scatter Plots

In [19]:
# Generate a line plot of tumor volume vs. time point for a single mouse treated with Capomulin

In [20]:
# Generate a scatter plot of mouse weight vs. the average observed tumor volume for the entire Capomulin regimen

## Correlation and Regression

In [21]:
# Calculate the correlation coefficient and a linear regression model 
# for mouse weight and average observed tumor volume for the entire Capomulin regimen